[Desktop Entry]
Version=1.0
Type=Application
Name=znax
Categories=Game;
Exec=/usr/games/znax/znax
Icon=/usr/games/znax/znafs/data/znax.svg
StartupWMClass=znax


